@model LoginUser
<h3>Login</h3>
<form asp-action="LetMeIn" asp-controller="Home" method="POST">
    <div>
        <label asp-for="LoginUsername"></label>
        <input asp-for="LoginUsername" /> <br />
        <span class="text-danger" asp-validation-for="LoginUsername"></span>
    </div>
    <div>
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" /> <br />
        <span class="text-danger" asp-validation-for="LoginPassword"></span>
    </div>
    <button type="submit">Submit</button>
</form>